@import "tailwindcss";
@font-face {
  font-family: "Poppins";
  src: url("./assets/Fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Press Start 2P";
  src: url("./assets/Fonts/PressStart2P-Regular.ttf");
}

@theme {
  --font-popinse: "Poppins", sans-serif;
  --font-Style: "Press Start 2P", sans-serif;

  --font-Bit: "Bitcount Single", sans-serif;
}
