@import "tailwindcss";
@font-face {
  font-family: "Poppins";
  src: url("./assets/Fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Press Start 2P";
  src: url("./assets/Fonts/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/Fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

@theme {
  --font-popinse: "Poppins", sans-serif;
  --font-Style: "Press Start 2P", sans-serif;
  --font-Roboto: "Roboto", sans-serif;

  --font-Bit: "Bitcount Single", sans-serif;
}

body {
  background-color: #f5f3d3;
}
