@import "tailwindcss";
@font-face {
  font-family: "Poppins";
  src: url("./assets/Fonts/Poppins-Regular.ttf");
  font-family: roboto;
  src: url("./assets/Fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

@theme {
  --font-popinse: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
